/*
colors:
0D3B66 - Blue
FAF0CA - Tan
F4D35E - Gold
*/




*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin:0;
    border:0;
}

body {
    width:100%;
}

h1 {
    color:#F4D35E;
}

h2 {
    color:#F4D35E;
}

blockquote {
    font-size:2em;
    font-weight:bold;
    color:#0D3B66;
}

table {

}

header {
    height:800px;
    background-color:#FAF0CA;
}

nav {
    width:100%;
    background-color:#F4D35E;
}

ul {
    text-align:center;
}

li {
    font-size:1.5em;
}

ul li {
    display:inline-block;
    padding:8px 7%;    
}

a {
    color:#0D3B66;
}

a:hover {
    color:#0D3B6699;
}

main {
    height:2200px;
    background-color:#0D3B66;
}

.workgrid {
    display:grid;
    width:100%;
    grid-template-columns:33% 33% 33%;
    grid-template-areas: "work1 work2 work3"
                         "work4 work5 work6";
}

figcaption {
    font-size:1.5em;
    font-weight: bold;
    color:#F4D35E;
}

.company1 {
    
}

.company2 {
    background-color:#FAF0CA;
    float:right;
}


.company3 {
    margin-top:200px;
}

.maincontact {
    height:1000px;
}

.servicemain {
    height:1000px;
    padding-bottom:30px;
}

.coll {
    display:grid;
    height:1000px;
    grid-template-columns: 33.3% 33.3% 33.4%;
    grid-template-rows:100%;
}

.box1 {
    background-color:#FAF0CA;
    background-image: url(../images/box1img.jpg);
    font-size:2em;
    color:#0D3B66;
}

.box2 {
    background-color:#F4D35E;
    background-image: url(../images/box2img.jpg);
    font-size:2em;
    color:#0D3B66;
}

.box3 {
    background-color:#FAF0CA;
    background-image: url(../images/box3img.jpg);
    font-size:2em;
    color:#0D3B66;
}

.container {
    width:80%;
}

article {
    font-size:2.5em;
    padding: 120px 20%;
}

p {
    padding: 120px 20%;
}

.pcontact {
    padding:12px 2%;
    font-size:1.3em;
    font-weight:bold;
}

aside {
    padding:0 20%;
}

footer {
    background-color:#FAF0CA;
}

form {
    background-color:#FAF0CA;
    padding:10px;
}

.button {
    float:right;
    padding-right:80px;
    width:80px;
    height:30px;
}

.fnav {
    background-color:#FAF0CA;
}

.copyright {
    font-size:0.65em;
    
}






