/*
colors:
0D3B66 - Blue
FAF0CA - Tan
F4D35E - Gold
*/






body {
    background-color:#FAF0CA;
}

h1 {
    color:#F4D35E;
}

h2 {
    color:#F4D35E;
}

blockquote {
    color:#F4D35E;
}

table {

}

header {

}

nav {

}

ul {

}

li {

}

a {
    color:#0D3B66;
}

a:hover {

}






